---
// Importaciones
import Layout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import AboutPanel from "../layouts/AboutPanel.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import db from "../../public/database.js";
import PostPanel from "../layouts/PostPanel.astro";
import ProjectPanel from "../layouts/ProjectPanel.astro";
---

<Layout title="Manuel Cabrera">
    <main class="lg:flex">
        <aside class="bg-[#1b1b1b] z-[100] w-full lg:w-[330px] lg:fixed">
            <Header />
        </aside>
        <div
            class="w-full z-[10] p-7 pt-[260px] md:px-[100px] lg:ml-[330px] lg:px-[150px] lg:pt-0 xl:px-[250px]"
        >
            <Menu num={db.length} />
            <div class="z-[10] space-y-8" id="content">
                <PostPanel posts={db} />
                <ProjectPanel projects={db} />
                <AboutPanel />
            </div>
            <Footer />
        </div>
    </main>  

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const buttons = {
                btnAll: {
                    element: document.getElementById("btnAll"),
                    panel: document.getElementById("panel-posts"),
                },
                btnProjects: {
                    element: document.getElementById("btnProjects"),
                    panel: document.getElementById("panel-projects"),
                },
                btnAboutMe: {
                    element: document.getElementById("btnAboutMe"),
                    panel: document.getElementById("panel-aboutMe"),
                },
            };

            // Función para activar el botón y mostrar el panel correspondiente
            function activateButton(activeBtnKey) {
                Object.entries(buttons).forEach(([key, { element, panel }]) => {
                    if (element && panel) {
                        if (key === activeBtnKey) {
                            element.classList.add(
                                "bg-blue-600",
                                "border-white",
                            );
                            panel.style.display = "block"; // Asegúrate de que solo este panel se muestre
                        } else {
                            element.classList.remove(
                                "bg-blue-600",
                                "border-white",
                            );
                            panel.style.display = "none"; // Esconder los otros paneles
                        }
                    }
                });
            }

            // Asignar eventos de clic a los botones
            buttons.btnAll.element.addEventListener("click", () =>
                activateButton("btnAll"),
            );
            buttons.btnProjects.element.addEventListener("click", () =>
                activateButton("btnProjects"),
            );
            buttons.btnAboutMe.element.addEventListener("click", () =>
                activateButton("btnAboutMe"),
            );

            // Obtener el div con id="btnDescription"
            const btnDescription = document.getElementById("btnDescription");

            // Asignar el evento de clic para que active el botón "About Me"
            btnDescription.addEventListener("click", () => {
                buttons.btnAboutMe.element.click(); // Simular un clic en el botón "About Me"
            });

            // Activar el primer panel por defecto (por ejemplo, el panel de posts)
            activateButton("btnAll");
        });
    </script>
</Layout>
