<footer class="text-white py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <p class="text-sm text-gray-200">
            &copy; <span id="currentYear"></span> <a class="font-bold" href="https://github.com/manueloff14">Manuel Cabrera</a>. All rights reserved.
        </p>
    </div>
</footer>

<script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
