<ul class="flex w-full justify-around sticky top-0 bg-[#1b1b1be2] p-4 backdrop-blur-lg z-[200] text-[13px]">
    <button id="btnAll" class="p-2 px-4 border border-transparent lg:px-7 rounded-full font-bold">
        Post
    </button>
    <button id="btnProjects" class="p-2 px-4 border border-transparent lg:px-7 rounded-full font-bold">
        Projects <span class="bg-gray-500 p-2 py-[5px] text-xs rounded-full ml-[4px]">2</span>
    </button>
    <button id="btnAboutMe" class="p-2 px-4 border border-transparent lg:px-7 rounded-full font-bold">
        About Me
    </button>
</ul>