<ul class="flex items-center">
    <a href="https://www.freelancer.com/u/manueloff">
        <li
            class="bg-blue-700 p-[5px] px-5 rounded-full border font-bold hover:bg-blue-950"
        >
            Contact
        </li>
    </a>
    <li
        class="flex justify-center items-center mx-3 ml-5"
    >
        <a
            class="flex justify-center items-center p-2 border border-transparent rounded-full hover:bg-blue-950 hover:border-white"
            href="https://github.com/manueloff14"
            ><img width="20px" src="/icons/github_logo.svg" alt="" /></a
        >
    </li>
    <li
        class="flex justify-center items-center"
    >
        <a
            class="flex justify-center items-center p-2 border border-transparent rounded-full hover:bg-blue-950 hover:border-white"
            href="https://instagram.com/manueloff14"
        >
            <img width="20px" src="/icons/instagram_logo.svg" alt="" />
        </a>
    </li>
</ul>
