<ul class="flex items-center">
    <a href="https://www.freelancer.com/u/manueloff">
        <li class="bg-gray-900 p-2 px-5 rounded-full">Contacto</li>
    </a>
    <li class="mx-4">
        <a href="https://github.com/manueloff14"><img width="20px" src="/icons/github_logo.svg" alt="" /></a>
    </li>
    <li>
        <a href="https://instagram.com/manueloff14">
            <img width="20px" src="/icons/instagram_logo.svg" alt="" />
        </a>
    </li>
</ul>
